<ion-tabs>
  <div>
    <ion-card>
      <ion-card-content>
        <div class="music-info">
          <img src="../../assets/Images/11.jpeg" alt="Music Icon" class="music-icon">
          <div class="music-details">
            <div class="title">Song Title</div>
            <div class="description">Song Description</div>
          </div>
          <ion-button fill="clear" class="play-button">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      Search
    </ion-tab-button>
    <ion-tab-button tab="foryou">
      <ion-icon name="person-outline"></ion-icon>
      For You
    </ion-tab-button>
    <ion-tab-button tab="mylibrary">
      <ion-icon name="bookmarks-outline"></ion-icon>
      My Library
    </ion-tab-button>
    <ion-tab-button tab="pro">
      <ion-icon name="finger-print-outline"></ion-icon>
      Pro
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- <ion-router-outlet></ion-router-outlet> -->