<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      Search
    </ion-tab-button>
    <ion-tab-button tab="foryou">
      <ion-icon name="person-outline"></ion-icon>
      For You
    </ion-tab-button>
    <ion-tab-button tab="mylibrary">
      <ion-icon name="bookmarks-outline"></ion-icon>
      My Library
    </ion-tab-button>
    <ion-tab-button tab="pro">
      <ion-icon name="finger-print-outline"></ion-icon>
      Pro
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- <ion-router-outlet></ion-router-outlet> -->