<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="scroll-container">
      <div class="card-container">
        <div class="card" *ngFor="let item of items">
          <ion-card>
            <img [src]="item.imageUrl" alt="Image">
            <ion-card-header>
              <ion-card-subtitle>{{ item.description }}</ion-card-subtitle>
              <ion-card-title>{{ item.title }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </div>
    </div>
  </ion-content>

</ion-content>
