<!-- <ion-header [translucent]="true"> -->
<ion-toolbar>
  <div class="button">
    <ion-button fill="clear" size="small" defaultHref="/"> <ion-icon
        name="chevron-back-outline"></ion-icon></ion-button>
    <ion-button fill="clear" size="small"> <ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
  </div>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-list>
    <div class="top-poster">
      <div class="poster">
        <div class="button">
          <ion-button fill="clear" size="small" defaultHref="/"> <ion-icon
              name="chevron-back-outline"></ion-icon></ion-button>
          <ion-img src="../../../assets/Images/6.jpeg" alt="Wait For Image"></ion-img>
          <ion-button fill="clear" size="small"> <ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
        </div>
      </div>
      <div class="poster-description">
        <div class="poster-icon">
          <!-- <div class="icon-container">
            <ion-icon name="heart-outline"></ion-icon>
          </div>
          <div class="icon-container">
            <ion-icon name="play-outline"></ion-icon>
          </div> -->
        </div>
        <div class="info">
          <ion-card-header>
            <ion-card-subtitle>This Songs are so crazy</ion-card-subtitle>
            <ion-card-title>Hindi: Indian Top 50 Songs</ion-card-title>
          </ion-card-header>
        </div>
      </div>
    </div>
    <ion-item lines="none" *ngFor="let item of appData.music">
      <div class="container">
        <div class="description">
          <ion-label class="music-title">{{item.title}}</ion-label>
          <ion-label class="music-label">
            {{ item.description }}
          </ion-label>
        </div>
        <div class="button-icon">
          <ion-button fill="clear" size="small" (click)="OpenSingleScreen(item.mid)"> <ion-icon
              name="musical-note"></ion-icon></ion-button>
          <ion-button fill="clear" size="small"> <ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
