.container {
  display: flex;
  flex-direction: row;
  // align-items: center;
  width: 85%;
}

.description {
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding-bottom: 1rem;
  width: 80%;
}

.button-icon {
  display: flex;
  width: 20%;
  // padding: 1rem 0 0 0;

  ion-button {
    --border-radius: 0;
    --box-shadow: none;
    --color: #807c7c;
  }
}

.button-icon ion-icon {
  font-size: 1.9rem;
  padding: 0 1rem 0 0rem;
}

.music-title {
  font-size: 1.2rem;
  padding: .5rem .5rem .2rem .5rem;
}

.music-label {
  font-size: .9rem;
  padding: .2rem .5rem .5rem .5rem;
}

ion-item {
  background-color: aliceblue;
}

.top-poster {
  background: rgb(33, 32, 32);
  background: linear-gradient(0deg, rgba(33, 32, 32, 1) 0%, rgba(232, 163, 0, 1) 96%);
  border: none;
}

.poster {
  ion-img {
    width: 60%;
    height: 15rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    position: relative;
  }

  ion-img {
    position: relative;
  }


  ion-img {
    position: relative;
  }

  ion-icon {
    font-size: 2.5rem;
    background-color: #555555;
    border-radius: 100%;
    opacity: 0.5;
  }
}

ion-img::part(image) {
  margin-top: .5rem;
  border-radius: 1rem;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

}

ion-toolbar {
  --background: rgba(232, 163, 0, 1);
  --color: white;
  --border-width: 0;
  display: none;

  ion-icon {
    font-size: 3rem;
    background-color: #555555;
    border-radius: 100%;
    opacity: 0.5;
  }
}

.poster-description {
  .poster-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 2rem 0 1rem;

    ion-icon {
      width: 3rem;
      height: 3rem;
      font-size: 1rem;
      background-color: #555555;
      border-radius: 100%;
      opacity: 0.5;
    }
  }
}
